@model UserListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-6">
        <p>
            Hesap ekleyeceğiniz Kullanıcının Adı : @Model.Name
        </p>
        <p>
            Kullanıcının soyadı : @Model.Surname
        </p>
        <p>Kullanıcının Aktif Hesap Sayısı :<get-account-count app-user-id="@Model.Id"></get-account-count> </p>
    </div>

    <div class="col-6">
        <form method="post" asp-action="Create" asp-controller="Account">
            <input type="hidden" name="ApplicationUserId" value="@Model.Id"/>
            <div class="mb-3">
                <label class="form-label">Hesap No</label>
                <input type="number" name="AccountNumber" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Bakiye</label>
                <input type="number" class="form-control" name="Balance" />
            </div>

            <div class="mb-3">
                <button class="btn btn-primary">Kaydet</button>
            </div>

        </form>
    </div>
</div>
